<script lang="ts">
  import { user } from '$lib/stores/user';

  let email = '';
  let password = '';
</script>

<h1>Register</h1>
<form>
  <input type="email" placeholder="Email" bind:value={email} />
  <input type="password" placeholder="Password" bind:value={password} />
  <button
    type="button"
    on:click={() => user.register(email, password)}
    class="active">Register</button
  >
</form>

<style>
  form {
    display: grid;
    gap: 0.25rem;
  }
</style>
