<script lang="ts">
  import user from '$lib/stores/user';
  import { onMount } from 'svelte';
  onMount(() => user.init());
</script>

<slot />

<style lang="scss">
  :global(:root) {
    --font-primary: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont,
      'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
      'Helvetica Neue', sans-serif;
    --font-code: 'JetBrainsMono Nerd Font', 'JetBrainsMono', 'JetBrains Mono',
      'Jetbrains Mono', 'Courier New', Courier, monospace;
    --colour-passive: #292929;
    --colour-bg: #1a1a1a;
    --colour-on-bg: #dedede;
    --colour-active-1: #99aaff;
    --colour-active-2: #c299ff;
    --colour-active-gradient-angle: 42deg;
    --colour-active-gradient: linear-gradient(
      var(--colour-active-gradient-angle),
      var(--colour-active-1),
      var(--colour-active-2)
    );
    font-family: var(--font-primary);
    background: var(--colour-bg);
    color: var(--colour-on-bg);
    :global(a) {
      color: var(--colour-active-1);
      text-decoration: none;
    }
    :global(a:hover) {
      text-decoration: underline;
    }
    :global(h1) {
      font-family: var(--font-primary);
      font-size: 36px;
      margin: 0.2em 0;
    }
    :global(h2) {
      font-family: var(--font-primary);
      font-size: 24px;
      margin: 0.6em 0;
    }
    :global(p) + :global(h2) {
      margin: 0.3em 0 0.6em 0;
    }
    :global(p) {
      font-family: var(--font-primary);
      font-size: 16px;
      margin: 0.6em 0 1em 0;
    }
    :global(button) {
      cursor: pointer;
    }
    :global(button),
    :global(input[type='text']),
    :global(input[type='number']),
    :global(input[type='email']),
    :global(input[type='password']) {
      background: var(--colour-passive);
      color: var(--colour-on-bg);
      border: 2px solid #0000;
      transition: border-color 0.3s;
      // border-radius: 16px;
      border-radius: 10px;
      font-family: var(--font-primary);
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      padding: 12px 20px;
      outline: none;
      &:hover {
        border-color: #ffffff0a;
      }
      &:focus {
        border-color: #ffffff21;
      }
    }
    :global(button.active) {
      color: #1a1a1a;
      background: var(--colour-active-gradient), var(--colour-active-1);
      &:hover {
        border-color: #0000001e;
      }
      &:focus {
        border-color: #0000003f;
      }
    }
    :global(.flex) {
      display: flex;
    }
    :global(pre:not(.default)) {
      padding: 24px;
      font-family: var(--font-code);
      background: #0003;
      width: max-content;
      max-width: calc(100% - 28px);
      border: 1px solid #fff1;
      border-radius: 24px;
    }
  }
</style>
