<script lang="ts">
  import { account, funcs } from '$lib/appwrite';
  import { user } from '$lib/stores/user';
  import { onMount } from 'svelte';

  let res: string = 'Waiting on response...';
  onMount(async () => {
    res = (
      await funcs.createExecution(
        'example-function',
        undefined,
        undefined,
        undefined,
        'GET',
      )
    ).responseBody;
  });
</script>

<svelte:head>
  <title>Skwrite - Appwrite mixed with SvelteKit and nx</title>
</svelte:head>

<h1>Welcome to Skwrite</h1>
<p>
  Skwrite is a quite complex template for mixing <a
    href="https://appwrite.io"
    target="_blank">Appwrite</a
  >
  with <a href="https://kit.svelte.dev" target="_blank">SvelteKit</a> and
  <a href="https://nx.dev" target="_blank">nx</a>.
</p>

<h2>Example Function Response</h2>
<pre>{JSON.stringify(res, null, 2)}</pre>

<h2>Your Info</h2>

{#if $user}
  <p>You're logged in as {$user.name || $user.$id}!</p>
  <pre>{JSON.stringify($user, null, 2)}</pre>
  <button
    class="active"
    on:click={async () => {
      await account.updatePrefs({
        i: ((await account.getPrefs()).i ?? 0) + 1,
      });
      await user.update();
    }}>Increase Example Preference</button
  >
{:else}
  <p>You're not logged in yet - you should <a href="/login">do that</a>!</p>
  <div class="buttons flex row" style="gap:8px;">
    <a href="/register" tabindex="-1"
      ><button class="active">Register</button></a
    >
    <a href="/login" tabindex="-1"><button>Login</button></a>
  </div>
{/if}
